<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>User Registration</title>
</h:head>
<body>
<h:form>
    <br />
    <h2 align="center">User Registration</h2>
    <table align="center" border="1" width="50%" cellpadding="3">
        <tr>
            <td>First Name:</td>
            <td><h:inputText id="firstName" value="#{register.firstName}" required="true"
                requiredMessage="Enter First Name!" label="firstName" maxlength="20"
                validator="nameValidator" /></td>
            <td><h:message for="firstName" style="color:red;" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><h:inputText id="lastName" value="#{register.lastName}" required="true"
                requiredMessage="Enter Last Name!" label="lastName" maxlength="20"
                validator="nameValidator" /></td>
            <td><h:message for="lastName" style="color:red;" /></td>
        </tr>
        <tr>
            <td>User Name:</td>
            <td><h:inputText id = "userName" value = "#{register.userName}" required = "true"
                requiredMessage = "Enter user Name!" label="userName" maxlength = "20"
                validator = "miscValidator" /></td>
            <td><h:messages for = "userName" style = "color:red;" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><h:inputSecret id="password" value="#{register.password}"
                required="true" requiredMessage="Enter Password!" label="password"
                maxlength="15" redisplay="true" /></td>
            <td><h:message for="password" style="color:red;" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><h:inputText id="email" value="#{register.email}"
                required="true" requiredMessage="Enter Email!" label="email"
                maxlength="50" validator="emailValidator" /></td>
            <td><h:message for="email" style="color:red;" /></td>
        </tr>
        <tr>
            <td>Contact:</td>
            <td><h:inputText id="contact" value="#{register.contact}"
                required="true" requiredMessage="Enter Contact Number!" label="contact"
                maxlength="12" validator="contactValidator" /></td>
            <td><h:message for="contact" style="color:red;" /></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><h:inputTextarea id="address" value="#{register.address}"
                required="true" requiredMessage="Enter Address!" label="address"
                maxlength="100" cols="15" validator = "miscValidator"/></td>
            <td><h:message for="address" style="color:red;" /></td>
        </tr>
        <tr>
            <td colspan="3" align="center"><h:commandButton id="btn"
                value="Register" type="submit" action="#{userDB.dbRegister(register.userName, register)}" />
            </td>
        </tr>
    </table>
</h:form>
</body>
</html>