<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>User Successfully Added</title>
</h:head>
<body>
<h:form>
    <br />
    <h3 align="center">User Registered Successfully!</h3>
    <table align="center" border="2" width="40%" cellpadding="5">
        <tr>
            <td style="font-weight: bold;" width="25%">First Name:</td>
            <td><h:outputText id="fname" value="#{register.firstName}" /></td>
        </tr>
        <tr>
            <td style="font-weight: bold;" width="25%">Last Name:</td>
            <td><h:outputText id="lname" value="#{register.lastName}" /></td>
        </tr>
        <tr>
            <td style="font-weight: bold;" width="25%">Last Name:</td>
            <td><h:outputText id="uname" value="#{register.userName}" /></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Password:</td>
            <td><h:outputText id="pw" value="#{register.password}" /></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Email:</td>
            <td><h:outputText id="e-mail" value="#{register.email}" /></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Contact:</td>
            <td><h:outputText id="contactnbr" value="#{register.contact}" /></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Address:</td>
            <td><h:outputText id="paddress" value="#{register.address}" /></td>
        </tr>
        <tr>
            <td colspan="3" align="center"><h:commandButton id="lbtn"
                value="Login" type="submit" action="register.xhtml" /></td>
        </tr>
    </table>
</h:form>
<h:form><h:commandButton value = "View Users" type = "Submit" action = "users.xhtml"/></h:form>
</body>
</html>