<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head><title>JSF Form Page</title></head>
<h:body>
	<h:form>
	First Name: <h:inputText value = "#{user.firstName}"></h:inputText><br></br>
	Last Name: <h:inputText value = "#{user.lastName}"></h:inputText><br></br>
	<h:commandButton value = "Submit" action = "#{formController.onSubmit(user)}"></h:commandButton><br></br>
	<h:commandButton value = "Flash" action = "#{formController.onFlash(user)}"></h:commandButton>
	</h:form>
</h:body>
</html>